@charset "UTF-8";

/* ============================
 * Fonts
 * ========================= */

/* ============================
 * Headings
 * ========================= */

h1 {

}

h2 {

} 

h3 {
	
}

h4 {

}

h5 {

}

h6 {

}

hgroup {

}

header {

}

/* ============================
 * Hyperlinks
 * ========================= */

a {
	
}

a:link {

}

a:visited {

}

a:hover {
	
}

a:active {

}

a:focus {

}

/* ============================
 * Body copy
 * ========================= */

body {
	
}

p {

}

strong {

}

em {

}

span {

}

blockquote {

}

caption {

}

cite {

}

small {

}

sub {

}

sup {

}

/* ============================
 * Lists
 * ========================= */

ul {

}

ol {

}

li {

}

dl {

}

dt {

}

dd {

}

/* ============================
 * Form elements
 * ========================= */

form {

}

fieldset {

}

label {

}

input {

}

input[type="text"] {
	
}

input[type="password"] {

}

input[type="radio"] {

}

input[type="checkbox"] {

}

input[type="email"] {

}

input[type="time"] {

}

input[type="date"] {

}

input[type="submit"] {
	
}

textarea {

}

select {

}

option {

}

/* ============================
 * Buttons
 * ========================= */

button {

}

/* ============================
 * Structure
 * ========================= */

html {

}

body {

}

div {

}

section {

}

article {

}

aside {

}

footer {

}

/* ============================
 * Media
 * ========================= */

audio {

}

video {

}

canvas {

}

object {

}

embed {

}

/* ============================
 * Navigation
 * ========================= */

nav {

}

/* ============================
 * Tables
 * ========================= */

table {

}

thead {

}

tbody {

}

tr {

}

th {

}

td {

}

tfoot {
	
}

/* ============================
 * Custom Styles
 * ========================= */

/* Add your custom style here */











/* ============================
 * Tablet/Desktop
 * ========================= */

@media only screen and (min-width: 720px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 960px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1480px) {

}
